<app-layout>

<h1>Bienvenue sur la page officiele d'Album photo de 2<span style="color: rgb(255, 204, 0);" >DL!</span> </h1>

    <div class="panel panel-default">
        <div class="panel-heading" style="height: 30px; padding: 5px" >
          <h4 class="panel-title">
            <a class="accordion-toggle" role="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" style="font-size: 20px; padding: 0 20px" aria-controls="collapse4">
      Juste pour vous </a>
          </h4>
         
        </div>
        <div id="collapse4" class="panel-collapse collapse in" >
          <h1 style="text-align: center; color: #0a0133;" >Les moments les plus précieux de la vie, capturés avec 2<span style="color: rgb(255, 204, 0);" >DL</span></h1><br><br>
          <div class="row"  >
    



           
            <div class="col-sm-3" *ngFor="let d of data" >
              <div class="card">
                <div class="card-body" style="color: rgb(0, 0, 0);">
                  <img src="{{d.url}}" class="img-thumbnail" alt="2dl" srcset="" (click)="goToDetail(d.id)">
                  <h5 class="card-title" style="text-align: center;" >{{d.title}}</h5>
                  <p class="card-text" style="text-align: justify;"> {{d.body}} </p>
                 
                  <div class="footer" style="text-align: center;" >
                    <a class="btn btn-primary" routerLink="/voir/{{d.id}}" >Voir plus</a>&nbsp;
                  <a href="#" class="btn btn-warning" style="text-align: center;" >Modiffier</a>&nbsp;
                  <a href="#" class="btn btn-danger" style="text-align: center;" >Télécharger</a>&nbsp;
                  </div> <br><br><br>
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




</app-layout>
