

<app-layout>
  
    <h1>Contactez-nous </h1>
    <!--
    {{prenom}} {{nom}} est connecte ?: {{est_connecte}};<br><br>
    Nous sommes en {{annee[3]}} <br><br>
    Il y'a deux ans nous etions en {{annee[0]}} <br>
    j'avais {{somme[0]}} en $ et {{somme[1]}} en xof <br><br><br><br>

    <h1>ng for</h1>
    <p *ngFor="let a of annee" >
        {{a}}
    </p>

    



    <div class="row">
        <div class="col-sm-6"  >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngFor="let d of data" >
          <div class="card">
            <div class="card-body" style="border-bottom: 100% ;">
              <h5 class="card-title">{{d.title}}</h5>
              <p class="card-text"> {{d.body}} </p>
              <a href="#" class="btn btn-primary">Lire la suite</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
          <div class="row space-16">&nbsp;</div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <div class="caption text-center" onclick="location.href='https://flow.microsoft.com/en-us/connectors/shared_slack/slack/'">
                  <div class="position-relative">
                    <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" />
                  </div>
                  <h4 id="thumbnail-label"><a href="https://flow.microsoft.com/en-us/connectors/shared_slack/slack/" target="_blank">Actualité</a></h4>
                  <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Auditor</p>
                  <div class="thumbnail-description smaller">Slack is a team communication tool, that brings together all of your team communications in one place, instantly searchable and available wherever you go.</div>
                
                </div>
                <div class="caption card-footer text-center">
                  <ul class="list-inline">
                    <li><i class="people lighter"></i>&nbsp;7 Active Users</li>
                    <li></li>
                    <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
                  </ul>
                </div>
               
                
              </div>
            </div>
            
          </div>
          <div class="col-md-2">&nbsp;</div>
        </div>
      </div>
-->




  <div class="well well-sm">
    <a href=""> 00223 22 22 22 22</a> <br><br>
     <a href="">00223 33 33 22 22</a> <br><br>
     <a href="">00223 22 22 44 44</a>
   
     </div>
     
     <div class="well">
     <a href="">@dl@gmail.com</a> <br><br>
     <a href="">@parfum@gmail.com </a><br><br>
     <a href="">@sayob@gmail.com</a> <br><br>
     </div>
     
     <div class="well well-lg">
    Bamako, MAli <br><br>
    9339,Torokorobougou
     </div>

</app-layout>