<app-layout>
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9"> {{id}} </dd>
      
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9"> {{data.body}} </dd>
        <img src="https://via.placeholder.com/600/92c952" alt="">
        <p style="margin-left: 25%;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veritatis laudantium,eaque quam esse <br> 
          magnam pariatur  omnis cum quod amet ut ex voluptates eos consequuntur beatae quisquam!
          <br> rem ipsum dolor sit amet consectetur adipisicing elit. Est veritatis laudantium,eaque quam esse
          <br> rem ipsum dolor sit amet consectetur adipisicing elit. Est veritatis laudantium,eaque quam esse
          <br> rem ipsum dolor sit amet consectetur adipisicing elit. Est veritatis laudantium,eaque quam esse</p>
      
        
      </dl>
</app-layout>
