  <app-layout>
    
    
    <p>Bienvenu sur</p>
    <h1>DAME DE LUXE</h1>
    <h4>LE PARFUM QUI VOUS TRANSPORTE DANS UN MONDE DE LUXE...</h4>
   
    <section class="site-container" >
       
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
             expedita sapiente quaerat cum voluptate aperiam fuga numquam? 
             Illo tempora inventore molestiae nostrum cupiditate cum dignissimos est eos repellendus. Debitis, numquam.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
             expedita sapiente quaerat cum voluptate aperiam fuga numquam? 
             Illo tempora inventore molestiae nostrum cupiditate cum dignissimos est eos repelle
        </h4>

        
        <div class="row">
            
            <a href="#">Prendre un rendez-vous</a>
            <a href="#">Voir les sites </a>
           
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />
                Nemo impedit eaque odit quaerat ullam quidem?
            </span>
        </div>
    </section>
   
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   </app-layout>
    






    
    
  
4







